.add-tag-field.well
  = simple_form_for paper, url: admin_activity_paper_path(@activity, paper), method: "PATCH" do |f|
    = f.input :tag_list, input_html: {value: paper.tag_list.join(', ')}
    = f.submit "Save", class: "btn btn-default"
