<footer class="footer">
  <div class="container">
    <ul class="footer-links">
      <li><%= link_to "Ruby Conf Taiwan", "https://rubyconf.tw" %></li>
      <li><%= link_to "Twitter", "https://twitter.com/rubyconftw" %></li>
      <li><%= link_to "Contributors", contributors_path %></li>
    </ul>
    <p>
    Contributed by <%= link_to "5xRuby CO., LTD", "https://5xruby.com" %>.
    </p>
  </div>
</footer>
