<footer class="footer">
  <div class="container">
    <ul class="footer-links">
      <li><%= link_to "RubyConf 2016", "http://rubyconf.tw" %></li>
      <li><%= link_to "Twitter", "https://twitter.com/rubyconftw" %></li>
      <li><%= link_to "Contributes", contributes_path %></li>
    </ul>
    <p>
    Contributed by <%= link_to "5xRuby.tw", "https://5xruby.tw" %>.
    </p>
  </div>
</footer>
