<footer class="footer">
  <div class="container">
    <ul class="footer-links">
      <li><%= link_to "Ruby X Elixir Conf Taiwan 2018", "http://2018.rubyconf.tw" %></li>
      <li><%= link_to "Twitter", "https://twitter.com/rubyconftw" %></li>
      <li><%= link_to "Contributors", contributors_path %></li>
    </ul>
    <p>
    Contributed by <%= link_to "5xRuby.tw", "https://5xruby.tw" %>.
    </p>
  </div>
</footer>
