.hidden{
  display: none;
}
ul#input_fields_container{
  list-style: none;
  padding-left: 0;
  li.placeholder{
    position: relative;
    &:before{position: absolute;}
  }
}
body.dragging, body.dragging * {
  cursor: move !important;
}
.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

.radio-or-checks{
  label{
    margin: 0 1em 0 0;
    input[type="radio"],input[type="checkbox"]{
      margin: 0 4px 0 0px;
    }
  }
}

ul#notifiers_container{
  list-style: none;
  padding-left: 0;
  li.placeholder{
    position: relative;
    &:before{position: absolute;}
  }
}
.service-name-container{
  label{
    margin: 0 1em 0 0;
    input[type="radio"]{
      margin: 0 4px 0 0px;
    }
  }
}
