// Place all the styles related to the admin/papers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sort {
  margin-left: 5px;
  color: #aaa;
}
.sort.current {
  color: #000;
}
.sort:hover {
  color: #555;
  text-decoration: none;
}
.avatar{
  max-width: 500px;
}
.tt-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  font-size: 14px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  background-clip: padding-box;
  padding-left: 10px;
}

.tt-cursor {
  color: #fff;
  background-color: #77f;
}
