# config/application.yml
defaults: &defaults
  github:
    id: c9676d1081de1109685c
    secret: 82eb67a40bd9d8ea5ce1ee4327900ddb94aad47d
    scope: user:email
  twitter:
    id: oQjlwUpI3RUgHqCUVlPquybVm
    secret: VnUWO0QGZHoNG5HEOzvgNQ67C36bFrgdhAyw0SPaDibuxaJ1C7
  mailer:
    default_from: "noreply@rubyconf.dev"
    bcc_email:
      - cnotact@rubyconf.dev

development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults
  mailer:
    default_from: "noreply@rubyconf.tw"
    host: <%= ENV['SMTP_HOST'] %>
    domain:  <%= ENV['SMTP_DOMAIN'] %>
    username: <%= ENV['SMTP_USER'] %>
    password: <%= ENV['SMTP_PASS'] %>
    port: <%= ENV['SMTP_PORT'] || 587 %>
