default: &default
  adapter: postgresql

development:
  <<: *default
  database: cfp-dev

test:
  <<: *default
  host: postgres
  database: cfp-test

staging:
  <<: *default
  database: cfp-staging

production:
  <<: *default
  database: cfp-production