<div class="col-md-8 col-md-offset-2">
    <h1>Sign in</h1>
    <%= link_to "Sign in with Github", user_omniauth_authorize_path(:github), class: "btn btn-primary" %>
    <%= link_to "Sign in with Twitter", user_omniauth_authorize_path(:twitter), class: "btn btn-primary"%>    
</div>
