.col-md-12
  p#notice
    = notice

  h1 Listing Papers

  - @papers.each do |paper|
    .panel.panel-default
      .panel-heading
        h3.panel-title
          = paper.id
      table.table
        thead
          tr
            th Title
            th Status
            th Actions
        tbody
          tr
            td
              = link_to paper.title, [@activity, paper]
            td
              = paper.state
            td
              = link_to 'Edit', edit_activity_paper_path(@activity, paper), class: "btn btn-primary"
              = withdraw_proposal_button(@activity, paper, class: "btn btn-danger")
  - if @activity.open?
    = link_to t('button.new_paper'), new_activity_paper_path(@activity), class: "btn btn-primary"
