div.service-info.hidden data-service-name="email"
  = sif.input :recipient, required: true, hint: "Recipient address", input_html: { value: notifier_service_info_value(nf, "recipient") }
  = sif.input :subject, required: true, hint: "Mail subject. Left blank for default value: #{Settings.notifier.email.default_subject}", input_html: { value: notifier_service_info_value(nf, "subject") }
