.activities{
  margin-top: 50px;
  .activity{
    margin: 0 10px;
    h2 a{
      color: #000;
    }
    h2 small{
      margin-left: 10px;
    }
  }
}

.activities-show{
  h1 small{
    margin-left: 5px;
  }
  .closed-time{
    strong{
      margin-left: 5px;
    }
  }

  .btns{
    margin-top: 20px;
    a{
      margin-right: 5px;
    }
  }
}
