@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

.container-body {
  min-height: calc(100vh - 250px);

  padding-top: 50px;
}

body {
  font-family: "Open Sans", sans-serif;
}

.btn-done {
	margin-top: 50px
}
