.my-proposals{
  padding-top: 50px;
  .activity{
    margin: 40px 0;
    h3 small{
      margin-left: 5px;
    }
    .papers{
      margin: 20px;
      h4 .label{
        font-size: 12px;
        margin-left: 5px;
      }
    }
  }
}

