<div class="col-md-4">
  <h3><%= field.name %></h3>
  <%= draw_chart 'pie', stats %>
  <table class="table">
    <thead>
      <th class="col-md-8">Key</th>
      <th class="col-md-4">Value</th>
    </thead>
    <tbody>
      <% if stats.each do |key, value| %>
      <tr>
        <td><%= key %></td>
        <td><%= value %></td>
      </tr>
      <% end.empty? %>
      <tr><td colspan="2">No data available</td></tr>
      <% end %>
    </tbody>
  </table>
</div>
