<div class="col-md-4">
  <h3><%= field.name %></h3>
  <%= draw_chart 'pie', stats %>
  <table class="table">
    <thead>
      <th>Key</th>
      <th>Value</th>
    </thead>
    <tbody>
      <% stats.each do |value, key| %>
      <tr>
        <td><%= key %></td>
        <td><%= value %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
